{% extends 'base.html' %}


{% block content %}
  <div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto">
      <p>
        {{ target_user.date_joined }}
      </p>
      <h2>
        {{ target_user.username }}
      </h2>

      {% if target_user == user %}    <!-- 타겟유저와 현재의 유저가 같을경우 실행한다 -->
      <a href="{% url 'accountapp:update' pk=user.pk %}">
        <p>
          회원정보 수정
        </p>
      <a href="{% url 'accountapp:delete' pk=user.pk %}">
        <p>
          회원 탈퇴
        </p>
      </a>
      {% endif %}

    </div>
  </div>


  </div>

{% endblock %}