{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

  <div style="text-align: center; max-width: 500px; margin: 4rem auto">
    <div>
      <h4>글쓰기</h4>
    </div>
    ## 이미지가 들어갈곳은 항상 enctype을 속성에 넣어줘야된다 .
    <form action="{% url 'articleapp:update' pk=target_article.pk %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}   <!-- views.py에 지정한 폼클래스를 가지고 온다 -->
      <input type="submit" class="btn btn-primary btn-lg btn-block col-6 mt-3">
    </form>


  </div>

{% endblock %}